*{
    font-family: 'Amatic SC', cursive;
    margin: 0;
    padding: 0;
}

header h1{
    /* font-family: 'Lobster Two', cursive; */
    border-bottom: 1px solid black;
    font-size: 50px;
    margin: 2vh auto;
    text-align: center;
    width: 20vw;
}

section{
    border-radius: 10px;
    font-size: 25px;
    margin: 2vh auto;
    text-align: center;
    width: 40vw;
}

img{
    margin-top: 2vh;
    width: 30vw;
}

footer{
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    /*color: #e49ee4;*/
}
